<!--
<ul>
    <li *ngFor="let pais of paises">
        {{pais.name}} - {{pais.population}}
    </li>
</ul>
-->

<!-- sec6 - 99  verificacion de imagen y pipe para manejar imagenes

    Antes:   <img [src]="cancion.images[0].url" class="card-img-top" alt="...">
    Despues: <img [src]="cancion.images | noimage" class="card-img-top" alt="...">
-->
<!--
<div class="card-columns">
  <div *ngFor="let cancion of nuevasCanciones" class="card">  
    <img [src]="cancion.images | noimage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{cancion.name}}</h5>
      <p class="card-text">
            <span *ngFor="let artista of cancion.artists" class="badge badge-pill badge-primary">
              {{artista.name}}
            </span>
      </p>
    </div>
  </div>
</div>
-->

<!-- sec 6 - 101 - creando un loading component -->
<app-loading *ngIf="loading"></app-loading>

<!-- sec 6 - 100 - componente tarjetas -->
<!-- los albums que se obtiene de "getNewReleases()" se envia al html de home con la variable "items" -->
<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>